/* Override this file to customise the theme's CSS for your site */
.page__logo-top {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    color: var(--bg);
}

.page__logo-top:before {
    content: "🏠test";
}

.page__logo-top-inner {
    display: block;
    background: var(--logo);
    opacity: 0.90;
    padding: 0.25rem;
}

a.page__logo-top-inner:link, a.page__logo-top-inner:visited {
    color: inherit;
    text-decoration: inherit;
}

a.page__logo-top-inner:hover,
a.page__logo-top-inner:active {
    opacity: 1;
}

.page__logo-top-inner:before {
    content: "[";
    color: var(--bg);
}

.page__logo-top-inner:after {
    content: "]";
    color: var(--bg);
}

.page__logo-inner:after {
    content: "]~$";
    color: var(--bg);
}

.main-nav ul {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0.25rem 0;
}

.ytplayer-container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page__footer p{
    font-style: italic;
    line-height: 1.2;
}
.copyright {
    font-size: small;
}
.source-link{
    font-size: smaller;
}
.references {
    font-size: x-small;
}