<!-- use {{/*- partial "hyperscript-tests.html" . -*/}} wherever you want this to display, removing the /* and */ -->

{{ $cursorSymbol := "﹍" }}
{{ $resetSymbol := "↺" }}
<style>
    .hyperscript-button {
        font-family: monospace
    }
    .red {
        font-family: monospace;
        background-color: red;
        color: white;
    }
    .reset {

        color: aqua;
    }
</style>

<h1>{{ "hyperscript tests" | markdownify }}</h1>

<button class="hyperscript-button" _="on click toggle .red on me" font-family="monospace">
    Click Me
</button>

<div _="on click put ('Click Me now!') into the next <output/>" font-family="monospace" color="aqua">
    Click Me too!
</div>

<button _="on click increment $counter then put it into the next <output/>">
    Count Up!
</button>

<div>
    <span class="reset" _="on click put '' into the next <output/> then set $counter to 0" title="Reset">{{ $resetSymbol }}</span> 
    <span font-family="monospace" _="on mousedown toggle .red on me"><output ></output>{{ $cursorSymbol }}</span>
</div>
